[Unit]
Description=auto pull and push git

[Service]
Type=forking
ExecStart=/bin/bash ~/.gitpull
ExecStop=/bin/bash ~/.gitpush

[Install]
WantedBy=default.target

